<%- include('partials/loginlayout.ejs') %>



  <div class="loginContainer">
    <h1>Login</h1>
    <form method="post">
      <p class="errorMessage"><%= payload.errorMessage %></p>
      <input type="text" name="username" placeholder="Username or email" value="test001" required=""/>
      <input type="password" name="password" placeholder="Password"  value="test" required=""/>
      <input type="submit" value="Login"/>
    </form><a href="/register">Need an account? Register here.</a>
  </div>
